@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --color-main: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-grey-translucent: rgba(255, 255, 255, 0.6);
  --color-white: #ffffff;
  --color-modal-button: #188ce8;
  --font-main: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}

body {
  color: var(--color-main);
  background-color: var(--color-white);
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--color-accent);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--color-white);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.logo {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-main);
}

.logo-blue {
  color: var(--color-accent);
}

.header {
  background: var(--color-white);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
}

.header__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.header__button .icon-close {
  display: none;
}

.header__button.is-open .icon-close {
  display: block;
}

.header__button.is-open .icon-menu {
  display: none;
}

.header__button:hover .icon-close {
  fill: var(--color-accent);
}

.header__button:hover .icon-menu {
  fill: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.icon-close {
  width: 18.67px;
  height: 18.67px;
  fill: var(--color-main);
}

.icon-menu {
  width: 24px;
  height: 16px;
  fill: var(--color-main);
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .header__menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 88px;
  }
}

.navigation {
  text-align: center;
}

.navigation .navigation__link.current {
  color: var(--color-accent);
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .navigation .navigation__link.current {
    color: var(--color-accent);
  }
}

@media screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  position: relative;
  font-family: var(--font-main);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.navigation__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--color-accent);
}

@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 18px;
    line-height: 1.16;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .navigation__link:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .address__contacts:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-left: auto;
  }
  .address__contacts:not(:last-child) {
    margin-bottom: 10px;
  }
}

.address__link {
  display: flex;
  align-items: center;
  line-height: 1.16px;
  font-family: var(--font-main);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}

.address__link:hover, .address__link:focus {
  color: var(--color-accent);
}

.address__link:hover .contacts__tel,
.address__link:focus .contacts__tel {
  fill: var(--color-accent);
}

@media screen and (max-width: 767px) {
  .address__link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .address__link {
    font-size: 12px;
  }
}

.address__mail {
  width: 16px;
  height: 12px;
  fill: var(--color-secondary);
  margin-right: 10px;
}

.address__link:hover .address__mail,
.contacts__link:focus .address__mail {
  fill: var(--color-accent);
}

.address__tel {
  width: 10px;
  height: 16px;
  fill: var(--color-secondary);
  margin-right: 10px;
}

.address__link:hover .address__tel,
.contacts__link:focus .address__tel {
  fill: var(--color-accent);
}

.navigation__link,
.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  text-align: center;
}

.hero__heading {
  margin-bottom: 30px;
  font-family: var(--font-main);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  background-color: var(--color-accent);
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--color-white);
}

.hero__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.background {
  margin-bottom: 60px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
  background-color: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url("../image/bg-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/bg-mobile@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/bg-tablet@2x.jpg");
  }
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px 94px;
  overflow-y: scroll;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Форма */
.modal-form__heading {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
  margin-bottom: 12px;
}

.modal-form__form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  position: relative;
  margin-bottom: 20px;
}

.modal-form__message {
  resize: none;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  margin-top: 4px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--color-accent);
  outline: var(--color-accent);
}

.modal-form__input:hover ~ .modal-form__icon,
.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--color-accent);
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message:hover, .modal-form__message:focus {
  border: 1px solid var(--color-accent);
  outline: var(--color-accent);
}

.modal-form__policy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.modal-form__policy-text::before {
  content: '';
  width: 16px;
  height: 15px;
  background-image: url("../image/checkbox.svg");
  margin-right: 8px;
}

.modal-form__policy-link {
  text-decoration-line: underline;
  color: var(--color-accent);
  text-decoration-skip-ink: none;
}

.modal-form__button {
  display: block;
  width: 200px;
  padding: 10px 55px 10px 56px;
  margin: 0 auto;
  cursor: pointer;
  background: var(--color-modal-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--color-white);
}

.modal-form__policy:checked + .modal-form__policy-text::before {
  background-color: var(--color-accent);
  background-image: url("../image/checkbox-white.svg");
  background-size: 16px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 4px 3px 3px 3px;
  cursor: pointer;
}

.features {
  margin-bottom: 60px;
}

.features__headlines {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.features__text {
  font-family: var(--font-main);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767px) {
  .features__cards:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__cards {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 25px 100px 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.example {
  display: flex;
}

.example__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  background: rgba(47, 48, 58, 0.8);
}

.example-headlines {
  text-align: center;
  margin-bottom: 50px;
}

.example-headlines,
.section-team-headlines {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.section-example {
  margin-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-example {
    display: none;
  }
}

.example__photo {
  position: relative;
}

.example__photo:not(:last-child) {
  margin-right: 30px;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__position {
  color: var(--color-secondary);
  font-weight: normal;
  margin-bottom: 16px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__photo-set {
  margin-bottom: 30px;
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .team {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__name,
.team__position {
  font-family: var(--font-main);
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__cards {
  padding-bottom: 24px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__cards:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__cards {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.container-team {
  text-align: center;
}

.section-team {
  background: #f5f4fa;
  margin-bottom: 60px;
}

.section-team-headlines {
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.section-clients {
  margin-bottom: 94px;
}

.section-clients__headlines {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-clients {
    margin-bottom: 60px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .clients {
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.clients__yago {
  width: 44.27px;
  height: 49.23px;
}

.clients__tagline {
  width: 40px;
  height: 52px;
}

.clients__company {
  width: 41px;
  height: 42.6px;
}

.clients__foster {
  width: 79.66px;
  height: 42.02px;
}

.clients__brand {
  width: 59px;
  height: 47px;
}

.clients__line {
  width: 88.48px;
  height: 45.44px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--color-accent);
}

.symbol {
  fill: #afb1b8;
  display: block;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .symbol,
.clients__link:focus .symbol {
  fill: var(--color-accent);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact {
  font-style: normal;
  min-width: 231px;
  text-align: center;
  margin-bottom: 60px;
}

.footer-contact, .footer-contact__contacts {
  font-family: var(--font-main);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contact__address {
  color: var(--color-white);
  margin-bottom: 9px;
}

.footer-contact__contacts {
  color: var(--color-grey-translucent);
}

.footer-contact__link {
  margin-bottom: 9px;
}

.footer__box > .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--color-white);
}

.footer__section {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

/* Футер соцсети */
.footer-headlin {
  display: block;
  margin-bottom: 20px;
  font-family: var(--font-main);
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer-social .social-list__icon {
  fill: var(--color-white);
}

/* ========= Подписка ========= */
.box-sub__mail {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .box-sub__mail {
    max-width: 450px;
  }
}

.button-sub {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 28px 10px 29px;
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--color-white);
}

.button-sub__icon {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filters {
  display: flex;
}

@media screen and (max-width: 767px) {
  .filters {
    flex-wrap: wrap;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 30px;
  }
  .filters__box {
    margin-top: 8px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    margin-bottom: 50px;
  }
  .filters__box:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__button {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-main);
  border: solid transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========== Projects ======== */
.projects__box {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projects__box {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.projects__box:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.border {
  background: var(--color-white);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 24px 20px;
  border-top: none;
}

.border__heading {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-main);
}

.border__description {
  font-family: var(--font-main);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.projects__link:hover,
.projects__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-overlay__cover {
  width: 100%;
  height: 100%;
}

.projects-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 63px 24px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background: rgba(33, 150, 243, 0.9);
}

.projects__link:hover .projects-overlay__text,
.projects__link:focus .projects-overlay__text {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */