.header {
  background: var(--color-white);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;

    &__container {
      display: flex;
      align-items: center;
    }
  }
}

// .header {
//   border-bottom: 1px solid #ececec;
//   background: var(--color-white);
//   padding-top: 24px;
//   padding-bottom: 25px;

//

//   & .address {
//     display: flex;
//     align-items: center;
//     margin-left: auto;
//   }
// }

.header__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  width: 40px;
  height: 40px;

  & .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &:hover .icon-close {
    fill: var(--color-accent);
  }

  &:hover .icon-menu {
    fill: var(--color-accent);
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.icon-close {
  width: 18.67px;
  height: 18.67px;
  fill: var(--color-main);
}

.icon-menu {
  width: 24px;
  height: 16px;
  fill: var(--color-main);
}

.header__menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    padding: 60px 0;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 88px;
  }
}

.navigation {
  text-align: center;

  & .navigation__link.current {
    color: var(--color-accent);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    & .navigation__link.current {
      color: var(--color-accent);
    }
  }
}

.navigation__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation__link {
  position: relative;

  font-family: var(--font-main);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-main);

  &.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.16;

    padding-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.address {
  @media screen and (max-width: 767px) {
    &__contacts:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;

    &__contacts:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.address__link {
  display: flex;
  align-items: center;

  line-height: 1.16px;
  font-family: var(--font-main);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-secondary);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &:hover .contacts__tel,
  &:focus .contacts__tel {
    fill: var(--color-accent);
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.address__mail {
  width: 16px;
  height: 12px;
  fill: var(--color-secondary);
  margin-right: 10px;

  .address__link:hover &,
  .contacts__link:focus & {
    fill: var(--color-accent);
  }
}

.address__tel {
  width: 10px;
  height: 16px;
  fill: var(--color-secondary);
  margin-right: 10px;

  .address__link:hover &,
  .contacts__link:focus & {
    fill: var(--color-accent);
  }
}

.navigation__link,
.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// .navigation {
//   display: flex;
//   margin-left: 93px;

//   & .navigation__link.current {
//     color: var(--color-accent);
//   }

//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .navigation__link {
//   position: relative;

//   color: var(--color-main);
//   padding-top: 32px;
//   padding-bottom: 32px;

//   &.current::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: 0;

//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--color-accent);
//     border-radius: 2px;
//   }

//   &:hover,
//   &:focus {
//     color: var(--color-accent);
//   }
// }

// .address__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   font-family: var(--font-main);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.5;
//   letter-spacing: 0.02em;
//   color: var(--color-secondary);
//   min-width: 161px;

//   &:hover,
//   &:focus {
//     color: var(--color-accent);
//   }

//   &:hover .contacts__tel,
//   &:focus .contacts__tel {
//     fill: var(--color-accent);
//   }
// }

// .address__mail {
//   width: 16px;
//   height: 12px;
//   fill: var(--color-secondary);
//   margin-right: 10px;

//   .address__link:hover &,
//   .contacts__link:focus & {
//     fill: var(--color-accent);
//   }
// }

// .address__tel {
//   width: 10px;
//   height: 16px;
//   fill: var(--color-secondary);
//   margin-right: 10px;

//   .address__link:hover &,
//   .contacts__link:focus & {
//     fill: var(--color-accent);
//   }
// }

// .address__contacts:not(:last-child) {
//   margin-right: 30px;
// }

// .navigation__link,
// .address__link {
//   font-family: var(--font-main);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.15;
//   letter-spacing: 0.02em;

//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
