:root {
  --color-main: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-grey-translucent: rgba(255, 255, 255, 0.6);
  --color-white: #ffffff;
  --color-modal-button: #188ce8;

  --font-main: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}

// var(--color-main);
